{% extends "Principal/home.html" %} 
{% block content %}   
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<form method="post">

    {% csrf_token %}
<center><h2>Formulario de Registro</h2></center><br>
    {{formulario.as_p}}
    
    
    
    <center><button class="btn btn-primary btn-block" type="submit">Guardar</button></center>
{% endblock content %}  
 </form>